<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<aspNetCore>
			<environmentVariables>
				<environmentVariable name="CORECLR_ENABLE_PROFILING" value="{{{AppDynamicsCoreCLREnableProfiling}}}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
				<environmentVariable name="CORECLR_PROFILER" value="{{{AppDynamicsCoreCLRProfiler}}}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
				<environmentVariable name="CORECLR_PROFILER_PATH_32" value="{{{AppDynamicsCoreCLRProfilerPath32}}}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
				<environmentVariable name="CORECLR_PROFILER_PATH_64" value="{{{AppDynamicsCoreCLRProfilerPath64}}}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)" />
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" xdt:Locator="Match(name)" xdt:Transform="Remove" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
